<!doctype html>

<html class="h-100" lang="en" xmlns:sec="http://thymeleaf.org/extras/spring-security"
      xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="/src/main/resources/static/css/hint.css" rel="stylesheet" th:href="@{/css/hint.css}">
    <title>Dota 2 Partner</title>
</head>

<body>


<div th:replace="fragments/navbar"></div>

<aside>
    <div class="main-container flex-row-around">
        <div class="flex-column-around">
            <div class="flex-row-around persona-name-header">
                <div class="persona-name">
                    <p>
                    <td th:text="${player.personaName}">
                    </p><span class="steam-icon"></span>
                    <div class="persona-role">
                        <p>Support - p5</p>
                    </div>
                </div>
                <div class="anonymous-icon-admin-darkblue"
                     sec:authorize="isAnonymous()">
                        <span class="material-icons w3-xxxlarge hint--right"
                              data-hint="anonymous user">fingerprint</span>
                </div>
                <div class="verified-icon-admin-darkgreen"
                     sec:authorize="hasAuthority('ROLE_ADMIN')" th:if="${player.enabled == true}">
                        <span class="material-icons w3-xxxlarge hint--right"
                              data-hint="Verified administrator">admin_panel_settings</span>
                </div>
                <div class="verified-icon-admin-darkred"
                     sec:authorize="hasAuthority('ROLE_ADMIN')" th:if="${player.enabled == false}">
                        <span class="material-icons w3-xxxlarge hint--right"
                              data-hint="Unverified administrator">admin_panel_settings</span>
                </div>
                <div class="verified-icon-user-darkgreen"
                     sec:authorize="hasAuthority('ROLE_USER')" th:if="${player.enabled == true}">
                        <span class="material-icons w3-xxxlarge hint--right"
                              data-hint="Verified user">verified_user</span>
                </div>
                <div class="verified-icon-user-darkred"
                     sec:authorize="hasAuthority('ROLE_USER')" th:if="${player.enabled == false}">
                        <span class="material-icons w3-xxxlarge hint--right"
                              data-hint="Unverified user">verified_user</span>
                </div>
            </div>
            <div class="persona-avatar">
                <img class="avatar"
                     th:src="${player.avatarFull}">
            </div>
            <div class="w3-light-grey hint--right" data-hint="Reliability bar">
                <div class="w3-container w3-green w3-center" style="width:75%">75%</div>
            </div>
        </div>
        <div class="player-stat-container">
            <div class="stats">
                <div class="wins">
                    <p class="player-stat-container-name">WINS</p>
                    <p class="player-stat-container-value">
                    <td th:text="${player.win}"></td>
                    </p>
                </div>
                <div class="losses">
                    <p class="player-stat-container-name">LOSSES</p>
                    <p class="player-stat-container-value">
                    <td th:text="${player.loss}"></td>
                    </p>
                </div>
                <div class="winrate">
                    <p class="player-stat-container-name">WINRATE</p>
                    <p class="player-stat-container-value">
                    <td th:text="${player.winRate}"></td>
                    </p>
                </div>
            </div>
            <div class="flex-row-around best-heroes-title">
                <p>BEST HEROES AVERAGE</p>
                <p>(the last 6 months and at least 20 games played)</p>
            </div>
            <div class="flex-row-around best-heroes">
                <div class="flex-column-around heroe" th:each="hero :${asideHeroList}">
                    <h6 th:text="${hero.name}"></h6>
                    <div class="hint--bottom" data-hint="data stats" data-html="true"><img
                            class="heroe-icon" th:src="${hero.image}">
                    </div>
                    <p class="hint--right" data-hint="Matches played with this hero the last 6 months"
                       th:text="${hero.matchPlayed+' MP'}"></p>
                    <p class="hint--right" data-hint="Win rate with this hero the last 6 months"
                       th:text="${hero.winRate+'% WR'}"></p>
                    <p class="hint--right" data-hint="Average KDA with this hero for the last 6 months"
                       th:text="${hero.averageKill+' / '+hero.averageDeath+' / '+hero.averageAssist+' KDA'}"></p>
                </div>
            </div>
        </div>
        <div class="flex-row-center" th:if="${player.dotaPlus == true || player.rankTier != 0}">
            <div class="hint--bottom" data-hint="Dota plus subscriber" th:if="${player.dotaPlus == true}">
                <div class="dota-plus">
                    <img class="dota-plus-logo" th:src="@{/assets/dota_plus_icon.png}">
                </div>
            </div>
            <div class="hint--bottom" data-hint="Crusader [2]" th:if="${player.rankTier != 0}">
                <div class="rank hint--top" data-hint="Crusader 2">
                    <img class="rank-icon" th:src="@{'/assets/'+${rankIcon}}">
                    <img class="rank-star" th:src="@{'/assets/'+${rankStar}}">
                </div>
            </div>
        </div>
    </div>
</aside>

<!-- MAIN SECTION -->
<div class="main-container flex-row-around main">
    <div class="flex-column-center flex-9 center-column">
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     th:src="@{/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg}">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     th:src="@{/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg}">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     th:src="@{/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg}">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     th:src="@{/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg}">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src=@{/assets/dark_willow.png}>
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src=@{/assets/witch_doctor.png}>
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src=@{/assets/earth_spirit.png}>
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src=@{/assets/pudge.png}>
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src=@{/assets/invoker.png}>
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     th:src="@{/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg}">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/witch_doctor.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/dark_willow.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/invoker.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/earth_spirit.png}">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" th:src="@{/assets/pudge.png}">
                </div>
            </div>
        </div>
    </div>
    <div class="flex-column-center flex-3 right-column">
        <div class="player-list">
            <div class="player-title">
                <p>Partners matching preferences</p>
            </div>
            <div class="player-main-container">
                <div class="flex-column-around player-container">
                    <div class="flex-row-around player-name-header">
                        <div class="player-name">
                            <p>Hodor</p><span class="steam-icon"></span>
                            <div class="player-role">
                                <p>Support - P5</p>
                            </div>
                        </div>
                        <div class="verified-icon-user-darkgreen">
                                <span class="material-icons w3-xxxlarge hint--right"
                                      data-hint="Verified user">verified_user</span>
                        </div>
                    </div>
                    <div class="flex-row-around middle-container">
                        <div class="left-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Previous">arrow_circle_left
                                    </span></a>
                        </div>
                        <div class="player-avatar">
                            <img class="avatar-player"
                                 th:src="@{/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg}">
                        </div>
                        <div class="right-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Next">arrow_circle_right
                                    </span></a>
                        </div>
                    </div>
                    <div class="w3-light-grey hint--right" data-hint="Reliability bar">
                        <div class="w3-container w3-green w3-center" style="width:75%">75%</div>
                    </div>
                </div>
            </div>
            <div class="player-main-container">
                <div class="flex-column-around player-container">
                    <div class="flex-row-around player-name-header">
                        <div class="player-name">
                            <p>Hodor</p><span class="steam-icon"></span>
                            <div class="player-role">
                                <p>Core - P1</p>
                            </div>
                        </div>
                        <div class="verified-icon-user-darkred">
                                <span class="material-icons w3-xxxlarge hint--right"
                                      data-hint="Unverified user">verified_user</span>
                        </div>
                    </div>
                    <div class="flex-row-around middle-container">
                        <div class="left-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Previous">arrow_circle_left
                                    </span></a>
                        </div>
                        <div class="player-avatar">
                            <img class="avatar-player"
                                 th:src="@{/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg}">
                        </div>
                        <div class="right-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Next">arrow_circle_right
                                    </span></a>
                        </div>
                    </div>
                    <div class="w3-light-grey hint--right" data-hint="Reliability bar">
                        <div class="w3-container w3-orange w3-center" style="width:15%">15%</div>
                    </div>
                </div>
            </div>
            <div class="profile-button">
                <a class="w3-button w3-black" href="#">See more</a>
            </div>
        </div>
        <div class="flex-column-around partners-main-container">
            <div class="partner-title">
                <p>Partners</p>
            </div>
            <div class="flex-column-around partner-list">
                <div class="flex-row-around partner-container" th:each="partner: ${partnerList}">
                    <div class="partner-avatar-sm">
                        <a th:href="@{/api/player/profile/}+${partner.steamId32}">
                            <img class="partner-avatar-sm" th:src="${partner.avatarFull}">
                        </a>
                    </div>
                    <div class="flex-column-around partner-infos">
                        <p th:text="${partner.personaName}"></p>
                        <div class="flex-row-around">
                            <div class="partner-mp hint--bottom"
                                 th:attr="data-hint=${'Matches played with '+partner.personaName}">
                                <p th:text="${partner.matchPlayedWith}+' MP'"></p>
                            </div>
                            <div class="partner-wr hint--bottom"
                                 th:attr="data-hint=${'Win rate with '+partner.personaName}">
                                <p th:text="${partner.winRateWith+'% WR'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button">
                <a class="w3-button w3-black" href="#">See more partners</a>
            </div>
        </div>
    </div>
    </div>


<div th:replace="fragments/footer"></div>

</body>
</html>

