body {
    background-color: #8381819d;
}

header {
}

footer {
    background-color: #404040;
    color: white;
    padding: 15px;
}

.rankTierContainer {
    position: relative;
}

.rankTierContainer img {
    position: absolute;
    top: 0;
    left: 0;
}

.rankMedal-star {
    z-index: 1;
}

.rankTierContainer {
    z-index: 2;
}

/*
#multicouche {
    position: relative; !*l'élément est positionné mais il se place tout seul*!
}
#multicouche img {
    position: absolute;
    top: 0;
    left: 0;
}

#couche1 {
    z-index: 1;
}

#couche2 {
    z-index: 2;
}*/
