body {
    background-color: #8381819d;
}

header {
}

footer {
    background-color: #404040;
    color: white;
    padding: 15px;
}

.rankMedal-star {
    position: relative;
}

.rankTierContainer {
    position: relative;
}