/* -----------------------------GLOBAL----------------------------------------- */
* {
    margin: 0%;
    padding: 0%;
}

/* div {
    border: 1px solid;
} */


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 161, 161);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", Ubuntu, Cantarell, "Fira Sans", Helvetica, Arial, sans-serif;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}


/* -----------------------------HEADER----------------------------------------- */


nav a {
    color: darkgray;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

nav li {
    padding: 5px;
}

nav li:hover {
    background-color: black;
}

nav ul {
    list-style-type: none;
}

.navbar-container {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.navbar-brand {
    font-size: large;
    font-weight: bold;
    color: darkgray;
    padding: 6px;
    margin: 0px;
}

.navbar-brand:hover {
    background-color: black;
}

.navbar-collapse {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0;
}

.navbar-left {
    margin: 0;
    display: flex;
}

.navbar-right {
    margin: 0;
    display: flex;
}


/* -----------------------------------ASIDE------------------------------------ */
aside {
    background-color: rgb(65, 65, 65);
    box-shadow: 0px 6px 6px black;
    color: darkgray;
    margin: 0px;
    border: 0px 0px 1px 0px solid;
}

.aside-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.persona-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona-name, .persona-role, .persona-avatar, .w3-light-grey {
    margin: 2px;
}

.persona-name-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center
}

.w3-light-grey {
    width: 100%;
}

.persona-name {
    font-size: larger;
    color: white;
}

.persona-role {
    font-size: small;
    color: darkgray;
}

.persona-avatar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar {
    border-radius: 5px;
    box-shadow: 0px 0px 25px black;
}

.player-stat-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.stats {
    display: flex;
    justify-content: start;
    margin: 5px;
}

.player-stat-container-name {
    color: beige;
    font-size: small;
}

.wins:nth-child(1) {
    color: green;
}

.losses:nth-child(2) {
    color: rgb(216, 0, 0);
}

.player-stat-container-value {
    font-size: x-large;
}


.wins, .losses, .winrate {
    margin-left: 10px;
    margin-right: 10px;
}

.best-heroes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
}

.best-heroes-title {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
}

.heroe {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    margin: 0px 5px 5px 5px;
}

.heroe p {
    font-size: small;
    margin: 1px;
}

.heroe-icon {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px black;
}

.medal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dota-plus {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
}

.dota-plus-logo {
    position: absolute;
    width: 60%;
    top: 15px;
    left: 20px;
}

.rank {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.rank-icon, .rank-star {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
}