/* -----------------------------GLOBAL----------------------------------------- */
* {
    margin: 0%;
    padding: 0%;
}

/* div {
    border: 1px solid;
} */


body {
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 161, 161);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", Ubuntu, Cantarell, "Fira Sans", Helvetica, Arial, sans-serif;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

/* -----------------------------FLEX PATTERN AND GLOBAL DESIGN----------------------------------------- */
.main-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.flex-column-around {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}

.flex-auto {
    flex: auto;
}

.box-shadow-10-black {
    box-shadow: 0px 0px 10px black;
}

.box-shadow-10-darkred {
    box-shadow: 0px 0px 10px darkred;
}

/* -----------------------------HEADER----------------------------------------- */


nav a {
    color: darkgray;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: black;
}

nav li {
    color: darkgray;
    padding: 5px;
}

nav ul {
    color: darkgray;
    list-style-type: none;
}

.navbar-container {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-brand {
    font-size: large;
    font-weight: bold;
    color: darkgray;
    padding: 6px;
}

.navbar-brand:hover {
    background-color: black;
}

.navbar-collapse {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-left {
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-left li {
    width: 100%;
}

nav li:hover {
    background-color: black;
}

.navbar-right {
    margin: 0;
    display: flex;
    align-items: center;
}

.w3-dropdown-content {
    background-color: rgb(161, 161, 161);
}

.w3-button {
    padding: 5px;
}

.w3-dropdown-hover {
    padding: 0px 5px 5px;
}

/* -----------------------------------ASIDE------------------------------------ */
aside {
    background-color: rgb(65, 65, 65);
    box-shadow: 0px 5px 10px rgb(80, 0, 0);
    color: darkgray;
    border: 0px 0px 1px 0px solid;
}

.verified-icon-admin-darkgreen {
    color: darkgreen;
}

.verified-icon-admin-darkred {
    color: darkred;
}

.persona-name, .persona-role, .persona-avatar, .w3-light-grey {
    margin: 2px;
}

.persona-name-header {
    width: 100%;
}

.w3-light-grey {
    width: 100%;
}

.persona-name {
    font-size: larger;
    color: white;
}

.persona-role {
    font-size: small;
    color: darkgray;
}

.persona-avatar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar {
    border-radius: 5px;
    box-shadow: 0px 0px 25px black;
}

.player-stat-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.stats {
    display: flex;
    justify-content: start;
    margin: 5px;
}

.player-stat-container-name {
    color: beige;
    font-size: small;
}

.wins:nth-child(1) {
    color: green;
}

.losses:nth-child(2) {
    color: darkred;
}

.player-stat-container-value {
    font-size: x-large;
}


.wins, .losses, .winrate {
    margin-left: 10px;
    margin-right: 10px;
}

.best-heroes {
    margin: 5px;
}

.best-heroes-title {
    margin-top: 5px;
}

.heroe {
    width: 100px;
    margin: 0px 5px 5px 5px;
}

.heroe p {
    font-size: small;
    margin: 1px;
}

.heroe-icon {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px black;
}

.dota-plus {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.dota-plus-logo {
    position: absolute;
    width: 60%;
    top: 15px;
    left: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 2px -2px 2px) drop-shadow(rgba(0, 0, 0, 0.3) 2px -2px 2px);
}

.rank {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.rank-icon, .rank-star {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 2px -2px 2px) drop-shadow(rgba(0, 0, 0, 0.3) 2px -2px 2px);
}


/* ---------------------------------------SECTION--------------------------------------------- */
.main {
    margin-left: 10%;
    margin-right: 10%;
    align-items: flex-start;
    padding-top: 10px;
}

.center-column {
    margin-right: 20px;
}

.matche-history {
    margin-bottom: 20px;
}

.partner-avatar {
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    width: 90px;
    margin: 10px;
}

.radiant-team, .dire-team {
    flex-wrap: nowrap;
    margin: 5px;
}

.heroe-match-icon {
    box-shadow: 0px 0px 10px black;
    margin: 1px;
    width: 60px;
}

.right-column {
    margin: 10px;
}

.player-main-container {
    border-bottom: 2px rgb(65, 65, 65) solid;
}

.player-container {
    margin: 10px;
}

.player-name, .player-role, .player-avatar {
    margin: 2px;
}

.player-name-header {
    width: 100%;
}

.player-name {
    font-size: larger;
    color: black;
}

.player-role {
    font-size: small;
    color: black;
}

.player-avatar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-button {
    margin-top: 5px;
    font-size: small;
}

.avatar-player {
    border-radius: 5px;
    box-shadow: 0px 0px 25px black;
    width: 120px;
}

.right-arrow, .left-arrow {
    margin: 8px;
}

.verified-icon-user-darkgreen {
    color: darkgreen;
}

.anonymous-icon-admin-darkblue {
    color: darkblue;
}

.verified-icon-user-darkred {
    color: darkred;
}

.partners-main-container, .partner-list {
    margin: 10px;
}

.partner-container {
    margin: 10px;
    flex-wrap: nowrap;
    width: 100%;

}

.partner-avatar-sm {
    width: 50px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px black;
}

.partner-title, .player-title {
    padding: 3px;
    width: 100%;
    background-color: rgb(65, 65, 65);
    color: darkgray;
    box-shadow: 0px 0px 5px black;
}

.partner-infos {
    align-items: flex-start;
    width: 180px;
}

.partner-mp, .partner-wr {
    width: 90px;
}

/* -------------------------------------footer ---------------------------- */
.footer-container {
    background-color: rgb(28, 28, 28);
    color: darkgray;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
}