<!doctype html>

<html class="h-100" lang="en" xmlns:sec="http://thymeleaf.org/extras/spring-security"
      xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="/src/main/resources/static/css/hint.css" rel="stylesheet" th:href="@{/css/hint.css}">
    <title>Dota 2 Partner</title>
</head>
<body>
<div class="d-flex">
    <div th:replace="fragments/navbar"></div>

    <div class="container text-center">
        <div class="row">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card my-3 shadow">
                        <h5 class="card-title"></h5>
                        <div class="card-body d-flex justify-content-center">
                            <form class="form-signup" method="post" th:action="@{/api/auth/signup}"
                                  th:object="${player}">
                                <h2 class="form-signup-heading">Sign-up form</h2>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="steamId64">Steam Id</label>
                                        <input class="form-control" id="steamId64" th:field="*{steamId64}" type="number"
                                               placeholder="your steam ID"><span class="text-danger"
                                                                                 th:errors="*{steamId64}"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input th:field="*{email}" type="email" class="form-control" id="email"
                                               placeholder="Email"><span class="text-danger"
                                                                         th:errors="*{email}"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="password">Password</label>
                                        <input th:field="*{password}" type="password" class="form-control" id="password"
                                               placeholder="Password"><span class="text-danger"
                                                                            th:errors="*{password}"> </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around">
                                    <button type="submit" class="btn btn-lg btn-primary align-center">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
    <div class="row">
    </div>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>

