<!doctype html>

<html lang="en" xmlns:th="http://wwww.thymeleaf.org" class="h-100"
    xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/src/main/resources/static/css/stylebis.css" rel="stylesheet" th:href=@{/css/stylebis.css}>
    <title>Dota 2 Partner</title>
</head>

<body>
<!--header-->
<header>
    <nav class="navbar-container">
        <div class="navbar-brand">
            <a href="#">DOTA 2 PARTNER</a>
        </div>
        <div class="navbar-collapse" id="mobile_menu">
            <ul class="navbar-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Ticket</a></li>
                </li>
            </ul>
            <ul class="navbar-right">
                <li><a href="#"><span class="glyphicon-user"></span>Profile</a></li>
                <li><a href="#"><span class="glyphicon-setting"></span>Setting</a></li>
                <li><a href="#" title="refresh-data"><span class="glyphicon-refresh"></span>Refresh</a></li>
                <li><a href="#">Login/Signin</a></li>
            </ul>
        </div>
    </nav>
</header>

<aside>
    <div class="aside-container">
        <div class="persona-container">
            <div class="persona-name">
                <h1>Hodor</h1><span class="steam-icon"></span>
            </div>
            <div class="persona-role">
                <p>Support - p5</p>
            </div>
            <div class="persona-avatar">
                <img class="avatar"
                     src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
            </div>
            <div class="liabimity-bar">
                <p>[------------BAR-----------]</p>
            </div>
        </div>
        <div class="player-stat-container">
            <div class="stats">
                <div class="wins">
                    <p class="player-stat-container-name">WINS</p>
                    <p class="player-stat-container-value">3000</p>
                </div>
                <div class="losses">
                    <p class="player-stat-container-name">LOSSES</p>
                    <p class="player-stat-container-value">3000</p>
                </div>
                <div class="winrate">
                    <p class="player-stat-container-name">WINRATE</p>
                    <p class="player-stat-container-value">50%</p>
                </div>
            </div>
            <div class="best-heroes-title">
                <p>best-heroes</p>
                <p>(last 50 games played)</p>
            </div>
            <div class="best-heroes">
                <div class="heroe">
                    <p>Invoker</p>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/invoker.png">
                    <p>50.5%</p>
                    <p>5 / 8 / 30</p>
                </div>
                <div class="heroe">
                    <p>Earth Spirit</p>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                    <p>50.5%</p>
                    <p>5 / 8 / 30</p>
                </div>
                <div class="heroe">
                    <p>Pudge</p>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/pudge.png">
                    <p>50.5%</p>
                    <p>5 / 8 / 30</p>
                </div>
                <div class="heroe">
                    <p>Dark Willow</p>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/dark_willow.png">
                    <p>50.5%</p>
                    <p>5 / 8 / 30</p>
                </div>
                <div class="heroe">
                    <p>Witch Doctor</p>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                    <p>50.5%</p>
                    <p>5 / 8 / 30</p>
                </div>
            </div>
        </div>
        <div class="medal-container">
            <div class="dota-plus">
                <img class="dota-plus-logo" src="/src/main/resources/static/assets/dota_plus_icon.png">
            </div>
            <div class="rank">
                <img class="rank-icon" src="/src/main/resources/static/assets/rank_icon_3.png">
                <img class="rank-star" src="/src/main/resources/static/assets/rank_star_2.png">
            </div>
        </div>
    </div>
</aside>

<!-- footer -->
<footer>

</footer>
</body>

</html>