<!doctype html>

<html class="h-100" lang="en" xmlns:sec="http://thymeleaf.org/extras/spring-security"
      xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="/src/main/resources/static/css/hint.css" rel="stylesheet" th:href="@{/css/hint.css}">
    <title>Dota 2 Partner</title>
</head>

<body>
<!--header-->
<header>
    <nav class="navbar-container">
        <div class="navbar-brand">
            <a href="#">DOTA 2 PARTNER</a>
        </div>
        <div class="navbar-collapse" id="mobile_menu">
            <ul class="navbar-left">
                <li><a href="/player/home">Home</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Ticket</a></li>
                </li>
            </ul>
            <ul class="navbar-right">
                <li><a href="#"><span class="material-icons hint--bottom" data-hint="Search">search</span></a></li>
                <li><a href="#"><span class="material-icons hint--bottom"
                                      data-hint="Your profile page">person</span></a></li>
                <li><a href="/player/refresh-data"><span class="material-icons hint--bottom"
                                                         data-hint="Refresh data">refresh</span></a>
                </li>
                <li><a href="#"><span class="material-icons hint--bottom" data-hint="Settings">settings</span></a>
                </li>
                <li class="w3-dropdown-hover">
                    <span class="w3-button material-icons">power_settings_new</span>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right: 0;">
                        <a class="w3-bar-item w3-button" href="/login">Login</a>
                        <a class="w3-bar-item w3-button" href="/signup">Signup</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<aside>
    <div class="main-container flex-row-around">
        <div class="flex-column-around">
            <div class="flex-row-around persona-name-header">
                <div class="persona-name">
                    <p>Hodor</p><span class="steam-icon"></span>
                    <div class="persona-role">
                        <p>Support - p5</p>
                    </div>
                </div>
                <div class="verified-icon-admin-green">
                        <span class="material-icons w3-xxxlarge hint--right"
                              data-hint="Verified administrator">admin_panel_settings</span>
                </div>
            </div>
            <div class="persona-avatar">
                <img class="avatar"
                     src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
            </div>
            <div class="w3-light-grey hint--right" data-hint="Reliability bar">
                <div class="w3-container w3-green w3-center" style="width:75%">75%</div>
            </div>
        </div>
        <div class="player-stat-container">
            <div class="stats">
                <div class="wins">
                    <p class="player-stat-container-name">WINS</p>
                    <p class="player-stat-container-value">3000</p>
                </div>
                <div class="losses">
                    <p class="player-stat-container-name">LOSSES</p>
                    <p class="player-stat-container-value">3000</p>
                </div>
                <div class="winrate">
                    <p class="player-stat-container-name">WINRATE</p>
                    <p class="player-stat-container-value">50%</p>
                </div>
            </div>
            <div class="flex-row-around best-heroes-title">
                <p>BEST HEROES AVERAGE</p>
                <p>(last 50 games played)</p>
            </div>
            <div class="flex-row-around best-heroes">
                <div class="flex-column-around heroe">
                    <h6>Invoker</h6>
                    <div class="hint--bottom" data-hint="Invoker data stats" data-html="true"><img
                            class="heroe-icon" src="/src/main/resources/static/assets/invoker.png">
                    </div>
                    <p class="hint--right" data-hint="Matches played">350 MP</p>
                    <p class="hint--right" data-hint="Win rate">50.5% WR</p>
                    <p class="hint--right" data-hint="Average KDA for the last 50 games">5/8/30 KDA</p>
                </div>
                <div class="heroe">
                    <h6>Earth Spirit</h6>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                    <p>350 MP</p>
                    <p>50.5% WR</p>
                    <p>5/8/30 KDA</p>
                </div>
                <div class="heroe">
                    <h6>Pudge</h6>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/pudge.png">
                    <p>350 MP</p>
                    <p>50.5% WR</p>
                    <p>5/8/30 KDA</p>
                </div>
                <div class="heroe">
                    <h6>Dark Willow</h6>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/dark_willow.png">
                    <p>350 MP</p>
                    <p>50.5% WR</p>
                    <p>5/8/30 KDA</p>
                </div>
                <div class="heroe">
                    <h6>Witch Doctor</h6>
                    <img class="heroe-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                    <p>350 MP</p>
                    <p>50.5% WR</p>
                    <p>5/8/30 KDA</p>
                </div>
            </div>
        </div>
        <div class="flex-row-center">
            <div class="hint--bottom" data-hint="Dota plus subscriber">
                <div class="dota-plus">
                    <img class="dota-plus-logo" src="/src/main/resources/static/assets/dota_plus_icon.png">
                </div>
            </div>
            <div class="hint--bottom" data-hint="Crusader [2]">
                <div class="rank hint--top" data-hint="Crusader 2">
                    <img class="rank-icon" src="/src/main/resources/static/assets/rank_icon_3.png">
                    <img class="rank-star" src="/src/main/resources/static/assets/rank_star_2.png">
                </div>
            </div>
        </div>
    </div>
</aside>

<!-- MAIN SECTION -->
<div class="main-container flex-row-around main">
    <div class="flex-column-center flex-11 center-column">
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
            </div>
        </div>
        <div class="flex-row-around matche-history">
            <div class="partner-matche">
                <img class="partner-avatar"
                     src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
            </div>
            <div class="flex-row-around radiant-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
            </div>
            <div class="versus">
                <p>V.S</p>
            </div>
            <div class="flex-row-around dire-team">
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/witch_doctor.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/dark_willow.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/invoker.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/earth_spirit.png">
                </div>
                <div class="heroe-match">
                    <img class="heroe-match-icon" src="/src/main/resources/static/assets/pudge.png">
                </div>
            </div>
        </div>
    </div>
    <div class="flex-column-center flex-1 right-column">
        <div class="player-list">
            <div class="player-title">
                <p>Matching preferences</p>
            </div>
            <div class="player-main-container">
                <div class="flex-column-around player-container">
                    <div class="flex-row-around player-name-header">
                        <div class="player-name">
                            <p>Hodor</p><span class="steam-icon"></span>
                            <div class="player-role">
                                <p>Support - P5</p>
                            </div>
                        </div>
                        <div class="verified-icon-user-green">
                                <span class="material-icons w3-xxxlarge hint--right"
                                      data-hint="Verified user">verified_user</span>
                        </div>
                    </div>
                    <div class="flex-row-around middle-container">
                        <div class="left-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Previous">arrow_circle_left
                                    </span></a>
                        </div>
                        <div class="player-avatar">
                            <img class="avatar-player"
                                 src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
                        </div>
                        <div class="right-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Next">arrow_circle_right
                                    </span></a>
                        </div>
                    </div>
                    <div class="w3-light-grey hint--right" data-hint="Reliability bar">
                        <div class="w3-container w3-green w3-center" style="width:75%">75%</div>
                    </div>
                </div>
            </div>
            <div class="player-main-container">
                <div class="flex-column-around player-container">
                    <div class="flex-row-around player-name-header">
                        <div class="player-name">
                            <p>Hodor</p><span class="steam-icon"></span>
                            <div class="player-role">
                                <p>Core - P1</p>
                            </div>
                        </div>
                        <div class="verified-icon-user-red">
                                <span class="material-icons w3-xxxlarge hint--right"
                                      data-hint="Unverified user">verified_user</span>
                        </div>
                    </div>
                    <div class="flex-row-around middle-container">
                        <div class="left-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Previous">arrow_circle_left
                                    </span></a>
                        </div>
                        <div class="player-avatar">
                            <img class="avatar-player"
                                 src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
                        </div>
                        <div class="right-arrow">
                            <a href="#"><span class="material-icons hint--bottom"
                                              data-hint="Next">arrow_circle_right
                                    </span></a>
                        </div>
                    </div>
                    <div class="w3-light-grey hint--right" data-hint="Reliability bar">
                        <div class="w3-container w3-orange w3-center" style="width:15%">15%</div>
                    </div>
                </div>
            </div>
            <div class="profile-button">
                <a class="w3-button w3-black" href="#">See more</a>
            </div>
        </div>
        <div class="flex-column-around partners-main-container">
            <div class="partner-title">
                <p>Partners</p>
            </div>
            <div class="flex-column-around partner-list">
                <div class="flex-row-around partner-container">
                    <div class="partner-avatar-sm">
                        <img class="partner-avatar-sm"
                             src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
                    </div>
                    <div class="flex-column-around partner-infos">
                        <p>Hodor</p>
                        <div class="flex-row-around">
                            <div class="partner-mp hint--bottom" data-hint="Matches played with">
                                <p>250 MP</p>
                            </div>
                            <div class="partner-wr hint--bottom" data-hint="Win rate with">
                                <p>52.4% WR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row-around partner-container">
                    <div class="partner-avatar-sm">
                        <img class="partner-avatar-sm"
                             src="/src/main/resources/static/assets/8764a0f411e89fd7483b6871e01f5da013689e87_full.jpg">
                    </div>
                    <div class="partner-mp hint--bottom" data-hint="Matches played with">
                        <p>250 MP</p>
                    </div>
                    <div class="partner-wr hint--bottom" data-hint="Win rate with">
                        <p>52.4% WR</p>
                    </div>
                </div>
            </div>
            <div class="profile-button">
                <a class="w3-button w3-black" href="#">See more partners</a>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="flex-row-around footer-container">
        <p>Copyright - 2022 - bla bla bla</p>
    </div>
</footer>
</body>

</html>