<!doctype html>

<html lang="en" xmlns:th="http://wwww.thymeleaf.org" class="h-100"
    xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/src/main/resources/static/css/stylebis.css" rel="stylesheet" th:href=@{/css/stylebis.css}>
    <title>Dota 2 Partner</title>
</head>

<body>
<!--header-->
<header>
    <nav class="navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DOTA 2 PARTNER</a>
        </div>
        <div class="navbar-collapse" id="mobile_menu">
            <ul class="navbar-left">
                <li class="active"><a href="/player/home">Home</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="/player/refresh-data">Refresh</a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us <span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Ticket</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>


<!-- footer -->
<footer>

</footer>
</body>

</html>