<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:sec="http://thymeleaf.org/extras/spring-security"
      xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${message}"></span>
</body>
</html>